.button {
    color: $brandPrimary;
    text-decoration: none;
    background: $bodyBg;
    font-size: $fontSize16; // 16px is important for iphones
    line-height: 1;
    font-weight: bold;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-shrink: 0;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $brandPrimary;
    border-radius: var(--formBorderRadius);
    outline: none;
    padding: 0 24px;
    min-height: var(--formControlHeight);
    transition: all .2s ease;
    white-space: nowrap;

    &:disabled {
        background: $borderColor;
        border-color: $borderColor;
        color: $borderColor;
        cursor: default;

        &:hover {
            background: $borderColor;
            box-shadow: none;
        }
    }

    &:hover {
        color: $borderColor;
        background: $brandPrimary;
        border-color: $borderColor;
        box-shadow: 0 2px 16px rgba(29, 29, 27, 0.16);
    }

    svg {
        fill: transparent;
    }
}