@keyframes ldio-zoew23s6me {
    0% {
        top: 44px;
        left: 44px;
        width: 0;
        height: 0;
        opacity: 1;
    }
    100% {
        top: 8px;
        left: 8px;
        width: 72px;
        height: 72px;
        opacity: 0;
    }
}

.ldio-zoew23s6me div {
    position: absolute;
    border-width: 6px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    animation: ldio-zoew23s6me 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
}

.ldio-zoew23s6me div:nth-child(1) {
    border-color: $brandPrimary;
    animation-delay: 0s;
}

.ldio-zoew23s6me div:nth-child(2) {
    border-color: $brandRed;
    animation-delay: -0.5s;
}

.loadingio-spinner-ripple-n24qf7xjqy {
    width: 98px;
    height: 98px;
    display: inline-block;
    overflow: hidden;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.ldio-zoew23s6me {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(0.98);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
}

.ldio-zoew23s6me div {
    box-sizing: content-box;
}
